
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f5;
  padding: 10px 20px;
  margin-top: 20px;
}

.header-left,
.header-center,
.header-right {
  display: flex;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.brand-text {
  display: flex;
  flex-direction: column;
  font-size: 45px;
  font-weight: 300;
  line-height: 1;
}

.header-center {
  flex: 2;
  display: flex;
  justify-content: center;
}


.search-bar {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 5px 10px;
  max-width: 400px;
  flex-grow: 1;
  margin: 0 auto;
}

.search-bar input[type="search"] {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 20px;
}

.search-bar span.material-symbols-outlined {
  color: #666;
  cursor: pointer;
  margin-left: 10px;
}
.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  padding-right: 20px;
  gap: 20px; /* Espacio entre flecha e íconos */
}

.arrow-icon {
  width: 100px; /* Tamaño más visible */
  height: auto; /* Apunta horizontalmente hacia los íconos */
  margin-right: 10px; /* Separación de la flecha respecto al carrito */
}


.icon {
  font-size: 32px; /* Aumenta el tamaño de los íconos */
  color: #333;
}

.header-right a {
  text-decoration: none;
}


nav {
  padding: 10px;
  background-color: transparent; /* Sin fondo */
  margin-top: 30px;
  max-width: 1000px; /* Ajusta el valor según lo necesites */
  margin: 20px auto; /* Centra el nav en la página */
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #333; 
  text-decoration: none;
  padding: 8px 70px; 
  background-color: #f4d0e2da; 
  border-radius: 50px;
  font-weight: bold;
  transition: background-color 0.3s, border-color 0.3s;
}

nav a:hover {
  background-color: #ffb3d9; 
  border-color: #ff66b2;
}

.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 20px;
}

.banner-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.arrow-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  font-size: 1.5em;
  cursor: pointer;
  z-index: 1;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.arrow-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}


.banner-img {
  width: 100%; 
  height: auto; 
}
/* Contenedor principal */
.contenedor-principal {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  padding: 20px;
}

/* Sección de perfumes */
.perfumes-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}


/* Estilos unificados para los productos */
.producto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 250px; /* Ajusta el tamaño si es necesario */
}
.producto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 50px;
  min-height: 30px; /* Ajusta este valor */
}


.producto h2 {
  font-size: 1.2rem;
  margin: 10px 0; 
}

.producto p {
  height: 40px;
  margin: 5px 0; 
  overflow: hidden;
  text-overflow: ellipsis;
}

section article {
  background: white;
  padding: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  align-self: stretch; 
}
article h2 {
  font-size: 1.2rem;
  color: #333;
  margin: 10px 0;
}

article p {
  color: #555;
  font-size: 0.9rem;
  margin: 5px 0;
}


/* Estilos para imágenes */
.producto img {
  height: 150px;
  object-fit: cover;
}


section article img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
  align-self: center;
}

/* Textos */

section article h2 {
  font-size: 1.2rem;
  margin: 10px 0;
  color: #444;
}

 
section article p {
  font-size: 1rem;
  margin: 5px 0;
  color: #888;
}

/* Ajustes en los fieldsets */
section fieldset {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
}

section legend {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

section label {
  margin-right: 10px;
}
.buy-button, .buy-button-item {
  background: #ff4081;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}
 


.buy-button:hover {
  background: #e91e63;
}



/* Lista de perfumes recomendados */
.recomendados-aside {
  background-color: #f4d0e2da;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;

 /* Ajusta según sea necesario */
  overflow: auto;  /* Permite que se desplace si el contenido es demasiado grande */
}


.recomendados-titulo {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: 600;
  text-align: center;
  color: #444;
}

.recomendado-item {
  display: flex; 
  gap: 10px; 
  align-items: center; 
  text-align: left; 
  border: none; 
  box-shadow: none; 
  margin-bottom: 10px;
}

.recomendado-item img {
  width: 100%;  /* Usa el 100% del contenedor */
  height: auto;
  max-width: 120px;  /* Ajusta el tamaño máximo según lo necesites */
  border-radius: 8px;
}


.recomendado-item div {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  justify-content: center;
}

.recomendado-item h2 {
  font-size: 1.5rem;
  color: #444;
  margin: 5px 0;
  text-align: center; 
}

.recomendado-item p {
  font-size: 1.3rem;
  margin: 0;
}
#recomendados-container {
  border-radius: 10px; 

  padding: 10px; 
  background: #f9f9f9; 
}



.about-contact-container {
  margin-top: 60px;
  display: flex;
  gap: 10px;
  padding: 20px;
  background-color: white; 
  border-radius: 30px;
  justify-content: space-between;
  align-items: stretch; 
  flex-wrap: wrap;
}

.about-section {
  flex-grow: 1;
  min-width: 300px;
  max-width: 65%;
  background: linear-gradient(to right, #fff8b1, #f9bbff); /* Fondo degradado para la sección */
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: justify;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}


.about-section h2 {
  text-align: center;
  font-size: 1.5em;
  margin: 30px 0;
}

.about-section h3 {
  text-align: center;
  font-size: 1.5em; 
  margin: 30px 0;
}

.about-section p {
  font-size: 1.1em; 
  line-height: 1.6; 
  overflow: auto;
  font-weight: bold;
}



.contact-section {
  flex-grow: 0.5;
  min-width: 250px;
  max-width: 35%;
  padding: 20px; 
  border-radius: 20px; 
}

.contact-title {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  position: relative; /* Permite el desplazamiento con top */
  top: -15px; /* Desplaza hacia arriba */
  display: block;
  padding: 15px 40px;
  border: 1px solid black;
  border-radius: 50px;
  width: fit-content;
  margin: 0 auto; /* Mantiene el centrado horizontal */
}

.contact-list {
  list-style: none;
  padding: 0;
  margin: 0 auto; 
  width: 90%; 
}

.contact-list li {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  margin: 20px 0; 
}

.contact-list img, 
.contact-list span {
  margin-right: 15px; 
  width: 35px; 
  height: 35px; 
}

.contact-list span.material-symbols-outlined {
  font-size: 35px; 
}

.contact-list p {
  font-size: 1.2em;
  margin: 0;
}

.contact-list h2 {
  font-size: 1.5em;
  margin: 0;
}


.contact-list h2 {
  font-size: 2em; 
  text-align: center;
}

.contact-section li img[alt="Logo de Parfumes c'est bon"] {
  width: 100px;  
  height: auto;  
}

.contact-section li:last-child {
  position: relative;
  top: 30px;  
}


footer {
  background: linear-gradient(to right, #fff8b1, #f9bbff); 
  border-radius: 40px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
}

#product-page {
  display: flex;
  justify-content: center;
  margin-top: 50px; /* Espacio entre el nav y el producto */
}

/* PRODUCTO */
#product-page .product-wrapper {
  display: flex;
  align-items: center;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1500px;
}

/* Imagen del producto */
#product-page .product-image {
  width: 500px;
  height: auto;
  border-radius: 5px;
  margin-right: 70px;
}

/* Información del producto */
#product-page .product-details {
  flex: 1;
}

/* Nombre del producto */
#product-page .product-details h2 {
  font-size: 50px;
  margin-bottom: 10px;
}

/* Descripción del producto */
#product-page .product-details p {
  font-size: 40px;
  margin-bottom: 10px;
}

/* Selección de tamaños */
#product-page .product-details fieldset {
  font-size: 35px;
  border: none;
  margin: 10px 0;
}

#product-page .product-details legend {
  font-weight: bold;
}

#product-page .product-details label {
  margin-right: 10px;
}

/* Precio */
#product-page .product-price {
  font-size: 50px;
  font-weight: bold;
  color: #e91e63;
  margin-top: 10px;
}

/* Botón de compra */
#product-page .buy-button {
  background-color: #e91e63;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 50px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

#product-page .buy-button:hover {
  background-color: #c2185b;
}
