<!DOCTYPE html>
<html lang="es-AR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfumeria</title>  
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <div class="menu-toggle">
            <button id="DarkMode" class="mode-toggle">
                <i id="modeIcon" class="fas fa-sun"></i> <!-- Icono de sol por defecto -->
            </button>
            <h1>Perfumeria</h1>
            <span>☰</span>
        </div>
        <nav>
            <ul class="menu">
                <li><a th:href="@{/}">Inicio</a></li>
                <li><a th:href="@{/signup}">Registro</a></li>
                <li><a th:href="@{/login}">Login</a></li>
            </ul>
        </nav>
    </header>     
    <main class="main-login">
        <div class="login-container">
            <h2>Iniciar Sesión</h2>
            <form onsubmit="login(event)">
                <label for="username">Usuario</label>
                <input type="text" id="username" name="mail" placeholder="Ingresa tu usuario" required>
    
                <label for="password">Contraseña</label>
                <div class="password-container">
                    <input type="password" id="password" name="password" placeholder="Ingresa tu contraseña" required>
                    <button type="button" id="togglePassword" class="toggle-password">
                        <img id="passwordIcon" th:src="@{/img/ojo.png}" alt="Mostrar contraseña">
                    </button>
                </div>
                <label class="error-message" id="error-message" style="display: none;">Usuario o contraseña incorrectos</label>
                <button type="submit">Ingresar</button>
            </form>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Todos los derechos reservados. <a href="#">Política de privacidad</a></p>
        <p>Síguenos en <a id="Facebook" href="#">Facebook</a> | <a id="Instagram" href="#">Instagram</a> | <a id="Twitter" href="#">Twitter</a></p>
    </footer>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/login.js}"></script>
</body>