<!DOCTYPE html>
<html lang="es-AR">
    <head>
        <meta charset="utf-8">
        <title> Perfumes De Mujer </title>
        <link rel="icon" href="img/Logo.ico">
</head>
<body>
    <h1> Perfumes de mujer </h1>
    <section>
        <article>
            <a href="pagos.html">
                <img src="Img/police.jpg" 
                alt="Perfume Police"
                title="Perfume Police"
                width="250px">
                <h2 style="font-weight: bold;"> POLICE </h2>
                <p> EAU DE PARFUM</p>
                <P> $30.080 </P>
                <P> 6 Cuotas de $5.003 </P>
                <fieldset>
                    <legend> Elegí un tamaño </legend>
                    <label for="in-50"> 50 ML </label>  
                    <input type="radio" value="50" name="ML" id="in-50">  
                    <label for="in-100"> 100 ML </label>          
                    <input type="radio" value="100" name="ML" id="in-100">    
                </fieldset>


            </a>
        </article>
    </section>
    <section>
        <article>
            <a href="pagos.html">
                <img src="Img/pepe.jpg" 
                alt="Perfume Coco"
                title="Perfume Coco"
                width="250px">
                <h2 style="font-weight: bold;"> COCO MADEMOISELLE </h2>
                <p> EAU DE PARFUM</p>
                <P> $86.700 </P>
                <P> 6 Cuotas de $14.450 </P>
                <fieldset>
                    <legend> Elejí un tamaño </legend>
                    <label for="in-50"> 50 ML </label>  
                    <input type="radio" value="50" name="ML" id="in-50">  
                    <label for="in-100"> 100 ML </label>          
                    <input type="radio" value="100" name="ML" id="in-100">    
                </fieldset>
            </a>
        </article>
    </section>
    <section>
        <article>
            <a href="pagos.html">
                <img src="Img/chanel.jpg" 
                alt="Perfume chanel"
                title="Perfume chanel"
                width="250px">
                <h2 style="font-weight: bold;"> CHANEL Nº5 </h2>
                <p> EAU DE PARFUM</p>
                <P> $81.200 </P>
                <P> 6 Cuotas de $13.553 </P>
                <fieldset>
                    <legend> Elegí un tamaño </legend>
                    <label for="in-50"> 50 ML </label>  
                    <input type="radio" value="50" name="ML" id="in-50">  
                    <label for="in-100"> 100 ML </label>          
                    <input type="radio" value="100" name="ML" id="in-100">    
                </fieldset>
            </a>
        </article>
    </section>
    <section>
        <article>
            <a href="pagos.html">
                <img src="Img/antoniobanderas.jpg" 
                alt="Perfume Blue Seduction"
                title="Perfume Blue Seduction"
                width="250px">
                <h2 style="font-weight: bold;"> BLUE SEDUCTION </h2>
                <h2> $15.500 </h2>
                <p> EAU DE PARFUM </p>
                <P> 6 Cuotas de $2.500 </P>
                <fieldset>
                    <legend> Elegí un tamaño </legend>
                    <label for="in-50"> 50 ML </label>  
                    <input type="radio" value="50" name="ML" id="in-50">  
                    <label for="in-100"> 100 ML </label>          
                    <input type="radio" value="100" name="ML" id="in-100">    
                </fieldset>
            </a>      
        </article>
    </section>

    <footer> 
        <p style="border: 1px solid white; border-radius: 10px; padding: 5px; text-align: center; background-color: #D4BDA7;"> C 2023 - Desarrollado por Grupo 11 : Evelin Paumgertner, Neisa Belleggia y Gaston Ivan Haag Gomez </p>
    </footer>

</body>
</html>