<!DOCTYPE html>
<html lang="es-AR">
    <head>
        <meta charset="utf-8">
        <title> Perfumes De Hombre </title>
        <link rel="icon" href="img/Logo.ico">
</head>
<body>
    <h1> Perfumes de Hombre </h1>
    <section>
        <article>
            <a href="pagos.html">
                <img src="Img/bleuchanel.jpg" 
                alt="Perfume Bleu de chanel"
                title="Perfume Bleu de chanel"
                width="250px">
                <h2 style="font-weight: bold;"> BLEU DE CHANEL </h2>
                <p> EAU DE PARFUM</p>
                <P> $92.300 </P>
                <P> 6 Cuotas de $15.400 </P>
                <fieldset>
                    <legend> Elegí un tamaño </legend>
                    <label for="in-50"> 50 ML </label>  
                    <input type="radio" value="50" name="ML" id="in-50">  
                    <label for="in-100"> 100 ML </label>          
                    <input type="radio" value="100" name="ML" id="in-100">    
                </fieldset>


            </a>
        </article>
    </section>
    <section>
        <article>
            <a href="pagos.html">
                <img src="Img/pepeJeans.jpg" 
                alt="Perfume Pepe jeans"
                title="Perfume Pepe jeans"
                width="250px">
                <h2 style="font-weight: bold;"> PEPE JEANS </h2>
                <p> EAU DE PARFUM</p>
                <P> $34.400 </P>
                <P> 6 Cuotas de $5.700 </P>
                <fieldset>
                    <legend> Elegí un tamaño </legend>
                    <label for="in-50"> 50 ML </label>  
                    <input type="radio" value="50" name="ML" id="in-50">  
                    <label for="in-100"> 100 ML </label>          
                    <input type="radio" value="100" name="ML" id="in-100">    
                </fieldset>
            </a>
        </article>
    </section>
    <section>
        <article>
            <a href="pagos.html">
                <img src="Img/potion.jpg" 
                alt="Perfume potion"
                title="Perfume potion"
                width="250px">
                <h2 style="font-weight: bold;"> POTION </h2>
                <p> EAU DE PARFUM</p>
                <P> $30.080 </P>
                <P> 6 Cuotas de $5.003 </P>
                <fieldset>
                    <legend> Elegí un tamaño </legend>
                    <label for="in-50"> 50 ML </label>  
                    <input type="radio" value="50" name="ML" id="in-50">  
                    <label for="in-100"> 100 ML </label>          
                    <input type="radio" value="100" name="ML" id="in-100">    
                </fieldset>
            </a>
        </article>
    </section>
    <section>
        <article>
            <a href="pagos.html">
                <img src="Img/policeJungle.jpg" 
                alt="Perfume Police Jungle"
                title="Perfume Police Jungle"
                width="250px">
                <h2 style="font-weight: bold;"> POLICE JUNGLE </h2>
                <h2> $40.000 </h2>
                <p> EAU DE PARFUM </p>
                <P> 6 Cuotas de $6.666 </P>
                <fieldset>
                    <legend> Elegí un tamaño </legend>
                    <label for="in-50"> 50 ML </label>  
                    <input type="radio" value="50" name="ML" id="in-50">  
                    <label for="in-100"> 100 ML </label>          
                    <input type="radio" value="100" name="ML" id="in-100">    
                </fieldset>
            </a>      
        </article>
    </section>

    <footer> 
        <p style="border: 1px solid white; border-radius: 10px; padding: 5px; text-align: center; background-color: #D4BDA7;"> C 2023 - Desarrollado por Grupo 11 : Evelin Paumgertner, Neisa Belleggia y Gaston Ivan Haag Gomez </p>
    </footer>
</body>
</html>