<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Perfumes de Mujer</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300&display=swap" rel="stylesheet">
    <link rel="icon" href="/img/Logo.ico">
    <link rel="stylesheet" href="/css/mujer_hombre.css">
</head>
<body>
    <!-- Encabezado -->
    <header>

        <div class="header-left">
          <img src="/img/Logo.png" alt="Logo" title="Logo Parfumes c'est bon" width="130px">
          <div class="brand-text">
            <span>Parfumes</span>
            <span>c'est bon</span>
          </div>
        </div>
      
        <div class="header-center">
          <div class="search-bar">
            <input type="search" title="Buscar" placeholder="Buscar">
            <span class="material-symbols-outlined">search</span>
          </div>
        </div>
      
        <div class="header-right">
            <img src="/img/Flecha.png" alt="Flecha" title="flecha" class="arrow-icon">
            <a href="/carrito"><span class="material-symbols-outlined icon">shopping_cart</span></a>
            <a href="/login"><span class="material-symbols-outlined icon">account_circle</span></a>
            <div id="user-info" hx-get="/users/me" hx-trigger="load" hx-target="#user-info">
           
        </div>
          </div>
          
      </header>
      


    <!-- Navegador -->
    <nav>
        <ul>
            <li><a th:href="@{/}">Inicio</a></li>
            <li><a th:href="@{/products/man}">Hombre</a></li>
            <li><a th:href="@{/productos}">Productos</a></li>
            <li><a th:href="@{/promociones}">Promociones</a></li>          
        </ul>
    </nav>

    <h1>Perfumes de Mujer</h1>
<main>
    
    <th:block th:each="product : ${products}">
        <article>
    <a th:href="@{'http://localhost:8080/item/' + ${product.id}}">
        <img th:src="@{'http://localhost:8080/api/images/' + ${product.image}}" 
        alt="Imagen de Producto" 
        title="Imagen de Producto" 
        class="product-image">        
    </a>                      <h2 th:text="${product.name}"></h2>
            <p th:text="${product.description}"></p>
            <p th:text="'$' + ${product.price}"></p>
            <p>6 Cuotas de <span th:text="'$' + ${product.price / 6}"></span></p>

            <fieldset>
                <legend>Elegí un tamaño</legend>
                <label th:for="'size-50-' + ${product.id}" th:text="'50 ML'"></label>
                <input type="radio" value="50" th:name="'size-' + ${product.id}" th:id="'size-50-' + ${product.id}">
                
                <label th:for="'size-100-' + ${product.id}" th:text="'100 ML'"></label>
                <input type="radio" value="100" th:name="'size-' + ${product.id}" th:id="'size-100-' + ${product.id}">
            </fieldset>
            
            <form class="add-to-cart-form">
                <input type="hidden" name="productId" th:value="${product.id}">
                <input type="number" name="quantity" value="1" min="1" max="100">
                <button type="submit">Comprar</button>
            </form>
        </article>
    </th:block>
</main>
    <div id="cart-container"></div>

</body>
</html>


    <!-- Pie de página-->
    <footer> 
        <p class="footer-text">C 2025 - Desarrollado por: Evelin Paumgertner, Emiliano Correa, Facundo Reiseng y Neisa Belleggia </p>
    </footer>
    <script th:src="@{/js/cart.js}"></script>
</body>
</html>