<!DOCTYPE html>
<html lang="es-AR">
    <head>
        <meta charset="utf-8">
        <title> Promociones </title>
        <link rel="icon" href="img/Logo.ico">
</head>
<body>
    <h2> Promociones - Mujer </h2>
    <section>
        <article>
            <a href="pagos.html">
                <img src="Img/chanel.jpg" 
                alt="Perfume chanel"
                title="Perfume chanel"
                width="250px">
                <h2 style="font-weight: bold;"> CHANEL Nº5 </h2>
                <p> EAU DE PARFUM</p>
                <P> <s>$81.200</s> $63.000 </P>
                <P> 6 Cuotas de $10.500 </P>
                <fieldset>
                    <legend> Elegí un tamaño </legend>
                    <label for="in-50"> 50 ML </label>  
                    <input type="radio" value="50" name="ML" id="in-50">  
                    <label for="in-100"> 100 ML </label>          
                    <input type="radio" value="100" name="ML" id="in-100">    
                </fieldset>
            </a>
        </article>
    </section>
    <section>
        <article>
            <a href="pagos.html">
                <img src="Img/antoniobanderas.jpg" 
                alt="Perfume Blue Seduction"
                title="Perfume Blue Seduction"
                width="250px">
                <h2 style="font-weight: bold;"> BLUE SEDUCTION </h2>
                <p> EAU DE PARFUM </p>
                <p> <s>$15.500</s> $12.500 </p>
                <P> 6 Cuotas de $2.083 </P>
                <fieldset>
                    <legend> Elegí un tamaño </legend>
                    <label for="in-50"> 50 ML </label>  
                    <input type="radio" value="50" name="ML" id="in-50">  
                    <label for="in-100"> 100 ML </label>          
                    <input type="radio" value="100" name="ML" id="in-100">    
                </fieldset>
            </a>      
        </article>
    </section>
    <h2> Promociones - Hombre </h2>
    <section>
        <article>
            <a href="pagos.html">
                <img src="Img/bleuchanel.jpg" 
                alt="Perfume Bleu de chanel"
                title="Perfume Bleu de chanel"
                width="250px">
                <h2 style="font-weight: bold;"> BLEU DE CHANEL </h2>
                <p> EAU DE PARFUM</p>
                <P> <s>$92.300</s> $75.000</P>
                <P> 6 Cuotas de $12.500 </P>
                <fieldset>
                    <legend> Elegí un tamaño </legend>
                    <label for="in-50"> 50 ML </label>  
                    <input type="radio" value="50" name="ML" id="in-50">  
                    <label for="in-100"> 100 ML </label>          
                    <input type="radio" value="100" name="ML" id="in-100">    
                </fieldset>


            </a>
        </article>
    </section>
    <section>
        <article>
            <a href="pagos.html">
                <img src="Img/pepeJeans.jpg" 
                alt="Perfume Pepe jeans"
                title="Perfume Pepe jeans"
                width="250px">
                <h2 style="font-weight: bold;"> PEPE JEANS </h2>
                <p> EAU DE PARFUM</p>
                <P> <s>$34.400</s> $28.000</P>
                <P> 6 Cuotas de $4.666 </P>
                <fieldset>
                    <legend> Elegí un tamaño </legend>
                    <label for="in-50"> 50 ML </label>  
                    <input type="radio" value="50" name="ML" id="in-50">  
                    <label for="in-100"> 100 ML </label>          
                    <input type="radio" value="100" name="ML" id="in-100">    
                </fieldset>
            </a>
        </article>
    </section>

    <footer> 
        <p style="border: 1px solid white; border-radius: 10px; padding: 5px; text-align: center; background-color: #D4BDA7;"> C 2023 - Desarrollado por Grupo 11 : Evelin Paumgertner, Neisa Belleggia y Gaston Ivan Haag Gomez </p>
    </footer>
    

</body>
</html>